/* Primary theme CSS file */
/************ FONTS ************/
@font-face {
  font-family: "Prompt";
  src: url("../assets/font-prompt/Prompt-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url("../assets/font-prompt/Prompt-Italic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Prompt";
  src: url("../assets/font-prompt/Prompt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url("../assets/font-prompt/Prompt-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Prompt";
  src: url("../assets/font-prompt/Prompt-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url("../assets/font-prompt/Prompt-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Arvo";
  src: url("../assets/font-arvo/Arvo-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Arvo";
  src: url("../assets/font-arvo/Arvo-Italic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Arvo";
  src: url("../assets/font-arvo/Arvo-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Arvo";
  src: url("../assets/font-arvo/Arvo-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
/************ BASE STYLES ************/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1em;
  font-family: "Prompt", Verdana, sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

footer {
  margin-top: auto;
  padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arvo", Garamond, serif;
  font-weight: 700;
}

a {
  color: #0066a3;
}

a:hover {
  text-decoration: none;
}

label,
textarea,
input {
  display: block;
  box-sizing: border-box;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: inline;
}

textarea,
input[type=text] {
  width: 100%;
}

/************ RESPONSIVE LAYOUT ************/
/* Responsive display classes */
.display-min-sm {
  display: none;
}

@media only screen and (min-width: 600px) {
  .display-min-sm {
    display: unset;
  }
  .display-max-sm {
    display: none;
  }
}
.display-min-md {
  display: none;
}

@media only screen and (min-width: 768px) {
  .display-min-md {
    display: unset;
  }
  .display-max-md {
    display: none;
  }
}
.display-min-lg {
  display: none;
}

@media only screen and (min-width: 992px) {
  .display-min-lg {
    display: unset;
  }
  .display-max-lg {
    display: none;
  }
}
.display-min-xl {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .display-min-xl {
    display: unset;
  }
  .display-max-xl {
    display: none;
  }
}
/* Mobile-first */
.container {
  width: 90%;
  margin: auto;
}

/* Small */
@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
  }
}
/* Medium */
@media only screen and (min-width: 768px) {
  .container {
    width: 70%;
  }
}
/* Large */
@media only screen and (min-width: 992px) {
  .container {
    width: 60%;
  }
}
/************ NOSCRIPT SUPPORT ************/
/* Important required to trump other directives if present */
.noscript-hide {
  display: none !important;
}

.noscript-show {
  display: block !important;
}

#primary-menu .noscript-show {
  height: var(--openHeight) !important;
}

/************ NAVIGATION ************/
header button {
  background-color: #fff;
  border: 1px solid #153128;
  border-radius: 0.25rem;
}

nav ul {
  margin: 0;
  list-style-type: none;
}
nav li {
  margin: 0;
}
nav a {
  color: inherit;
  text-decoration: none;
}

#primary-menu {
  /* Resets font for dropdown items so only the active one is colored */
}
#primary-menu.expanded {
  border-bottom: 0.5rem solid #00a56a;
}
#primary-menu ul {
  padding: 0 1rem;
}
#primary-menu li.active {
  color: #00a56a;
  font-weight: bold;
}
#primary-menu li.active ul {
  color: #000;
  font-weight: normal;
}
#primary-menu .toggler {
  padding: 0.5rem 0;
  background-color: #00a56a;
  text-align: center;
}
#primary-menu #toggler-content {
  flex: 0 1 100%;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
#primary-menu .hide {
  height: 0;
}
#primary-menu .show {
  height: var(--openHeight);
}

#search-bar {
  background-color: #f3edd7;
  padding: 0.5rem;
}
#search-bar form {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
#search-bar button {
  padding-top: 2px;
  padding-bottom: 2px;
}
#search-bar .hide {
  display: none;
}
#search-bar .show {
  display: block;
}

/* Nav on medium and larger screens */
@media only screen and (min-width: 768px) {
  #primary-menu {
    border-width: 0.5rem 0;
    border-color: #00a56a;
    border-style: solid;
  }
  #primary-menu ul:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0;
  }
  #primary-menu a:hover {
    color: #00a56a;
    text-decoration: underline;
  }
  #primary-menu .dropdown {
    display: none;
    width: 12rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #00a56a;
    border-radius: 0.5rem;
  }
  #primary-menu .dropdown-toggle:hover .dropdown {
    display: block;
    position: absolute;
    z-index: 10;
  }
  #primary-menu .toggler {
    display: none;
  }
  #primary-menu .hide,
  #primary-menu .show {
    display: block;
    height: auto;
  }
}
/************ FORMS ************/
form .group {
  margin-top: 1rem;
}

/************ THEME COMPONENTS   ************/
/* General Theme Components */
.banner {
  background-color: #f3edd7;
}

/* Posts */
.post h1,
.post h3 {
  margin-bottom: 0;
}

.preview {
  border-bottom: 10px solid #e6a622;
}

.preview:last-of-type {
  border: 0;
}

.post-link {
  color: inherit;
  text-decoration: none;
}
.post-link:hover {
  color: #0066a3;
  text-decoration: underline;
}

.post-date {
  margin: 0;
}

.post-tag {
  margin-top: 0;
}
.post-tag a {
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  background-color: #0066a3;
  border-radius: 0.25rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.post-tag a:hover {
  background-color: rgb(0, 76.5, 122.25);
  transition: 0.3s;
}

.category {
  color: rgb(63.75, 63.75, 63.75);
  font-style: italic;
}
.category a {
  color: inherit;
  text-decoration: none;
}
.category a:hover {
  text-decoration: underline;
}

.post-nav {
  display: flex;
  justify-content: space-between;
}
.post-nav .disabled {
  color: rgb(127.5, 127.5, 127.5);
}

/* Pagination */
.pagination ul {
  padding: 0;
  display: flex;
}
.pagination li {
  min-width: 2rem;
  padding: 0.25rem 0.25rem;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgb(63.75, 63.75, 63.75);
  min-width: 2rem;
  text-align: center;
}
.pagination li.prev {
  border-radius: 0.25rem 0 0 0.25rem;
  border-left-width: 1px;
  padding-left: 0;
}
.pagination li.next {
  border-radius: 0 0.25rem 0.25rem 0;
  padding-right: 0;
}
.pagination li.active {
  background-color: #00a56a;
  color: #fff;
  font-weight: bold;
}
.pagination li.disabled {
  background-color: rgb(229.5, 229.5, 229.5);
  color: rgb(63.75, 63.75, 63.75);
}
.pagination li.gap {
  border-width: 0 1px 0 0;
}

/* Comments */
.comment {
  margin-top: 1.5rem;
}
.comment .comment {
  margin-left: 1.5rem;
  padding-left: 0.5rem;
}
.comment .author {
  font-family: "Arvo", Garamond, serif;
  font-weight: bold;
}
.comment .author.current-user {
  color: rgb(0, 82.5, 53);
}
.comment .date {
  color: rgb(63.75, 63.75, 63.75);
}
.comment .reply {
  margin-bottom: 1rem;
}
.comment .reply a:nth-child(2) {
  margin-left: 0.5rem;
}
.comment .login-indicator {
  margin-left: 0.5rem;
}
.comment .moderation {
  color: rgb(178.5, 55.5, 27.75);
}

.thread > .comment {
  border-left: 0.25rem solid #00a56a;
}

#comment-reply textarea {
  height: 10rem;
}
#comment-reply .closed {
  font-style: italic;
  color: rgb(63.75, 63.75, 63.75);
}

#cancel-comment-reply-link,
.login-indicator {
  font-family: "Prompt", Verdana, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(63.75, 63.75, 63.75);
}

/* Responsive Components */
.logo-banner {
  display: flex;
  justify-content: center;
}
.logo-banner img {
  height: 5rem;
  padding: 2.5rem 0;
}

.flower-border {
  height: 2rem;
  background-image: url("../assets/img/border.png");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: cover;
}

/* Small */
@media only screen and (min-width: 600px) {
  .flower-border {
    background-size: contain;
  }
  .comment .comment {
    margin-left: 2.25rem;
    padding-left: 0.75rem;
  }
}
/* Medium */
@media only screen and (min-width: 768px) {
  .logo-banner img {
    height: 6rem;
    padding: 3rem 0;
  }
  .pagination li.prev {
    padding-right: 0.5rem;
  }
  .pagination li.next {
    padding-left: 0.5rem;
  }
  .comment .comment {
    margin-left: 3rem;
    padding-left: 1rem;
  }
}
/* Large */
@media only screen and (min-width: 992px) {
  .logo-banner img {
    height: 7rem;
    padding: 3.5rem 0;
  }
  .comment .comment {
    margin-left: 4rem;
    padding-left: 1rem;
  }
}
/* Extra-large */
@media only screen and (min-width: 1200px) {
  .logo-banner img {
    height: 8rem;
    padding: 4rem 0;
  }
}/*# sourceMappingURL=main.css.map */